body{
    background-color: rgb(194, 226, 255);
}

.atas{
    display: flex;
    gap: 5%;
    padding-left: 50px;
}

h1{
    margin-bottom:1px ;
    margin-top:1% ;
}

.pesanan{
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 10%;
    border-radius: 10px;
}
.pendapatan{
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 5%;
    border-radius: 10px;
}
.stock{
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20%;
    border-radius: 10px;
}