.atas{
    display: flex;
    margin-left: 45px;
    margin-top: 30px;
    gap: 3%; 
    
}

.pesanan{
    background-color: blue;
    padding-left: 25px;
    padding-right: 175px;
    padding-top: 25px;
    padding-bottom: 45px;
    border-radius: 5%;
    color: white;
}

.stock{
    background-color: blue;
    padding-left: 25px;
    padding-right: 20%;
    padding-top: 25px;
    padding-bottom: 45px;
    border-radius: 5%;
    color: white;
}

.pendapatan{
    background-color: rgb(51, 51, 51);
    padding-left: 25px;
    padding-right: 155px;
    padding-top: 25px;
    padding-bottom: 45px;
    border-radius: 5%;
    color: white;
}

/* .text{
    margin-right: 5px;
} */

h1{
    margin-left: 45px;
    margin-top: 40px;
}

i{
    font-size: 30px;
    margin-bottom: 10px;
}

p{
    font-size: 20px;
}