

.beranda a {
    text-decoration: none;
    color: #000;
}
.profil a {
    text-decoration: none;
    color: #000;
}

.logout a {
    text-decoration: none;
    color: #000;
}

.logout{
    margin-top: 340px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
}

.profil{
    margin-top: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;

}

.beranda{
    margin-top: 50px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;

}
